
/*colores*/
$gray: #333333;
$bg-gray:#EBEBEB;
$buttonbg:#e2332d;
$blueaseo:#5160bf;
/*responsive*/
@media screen and (max-width:1366px){
    $h1:30px;
    $p-slide:14px;
    $p-bigger:18px;
    $p-normal:14px;
    $p-small:12px;
    .main{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        top:50px;
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px;
                            height:auto;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:-50px;
            }
        }
        .team{
            min-height:500px;
            background-size: auto;
            background-position: -260px -260px;
            padding-top:40px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:150px;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:150px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:18px;
    $p-normal:14px;
    $p-small:12px;
    .nav{
        .menu{
            .navbar{
                .navbar-brand{
                    width:200px;
                    background-size:100%;
                }
            }
        }
    }
    .main{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    height:450px;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:10px;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px!important;
                            height:auto!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    .hold{
                        height:200px;
                    }
                }
            }
        }
        .team{
            min-height:500px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:150px;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:150px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:812px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:150px;
                    background-size:100%;
                    height:40px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:450px;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:10px;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:100px!important;
                            height:auto!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    .hold{
                        height:150px;
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align:center;
                        img{width:auto!important;height:100%!important;margin:auto;display:block}
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height:500px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:100px;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:100px;
                            }
                            .linkedin{
                                right:0px;
                                bottom:0px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        .item-info{
                            margin:5px;
                            width:150px;
                            &:first-child{
                                width:300px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:150px;
                    background-size:100%;
                    height:40px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:450px;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:10px;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:100px!important;
                            height:auto!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    .hold{
                        height:150px;
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align:center;
                        img{width:auto!important;height:100%!important;margin:auto;display:block}
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height:500px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:100px;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:100px;
                            }
                            .linkedin{
                                right:0px;
                                bottom:0px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        .item-info{
                            margin:5px;
                            width:150px;
                            &:first-child{
                                width:300px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:414px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:80vh;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:80px;
                        left:5%;
                        right:5%;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    display:block;
                    &:after{
                        content:'';
                        display:block;
                        clear:both;
                    }
                    .hold{
                        width:167px;
                        margin:0;
                        display:inline-block;
                        &:nth-child(odd){
                            margin-right:5px;
                        }
                        &:last-child{
                            width:100%;
                        }
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align:center;
                        img{width:auto!important;height:100%!important;margin:auto;display:block}
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height: initial !important;
            background-position: 0px 0px;
            background-size: auto 100%;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    display:block;
                    .item-team{
                        &:nth-child(odd){}
                        width:100%;
                        .avatar{
                            width:150px;
                            height:150;
                            .image{
                                width:100%;
                                height:100%;
                            }
                            .linkedin{
                                right:0px;
                                bottom:0px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        display:block;
                        .item-info{
                            margin:5px;
                            width:100%;
                            &:first-child{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
        footer{
            .container{
                .row{
                    .left{
                        .flex{
                            display:block;
                            .item-foot{
                                margin-bottom:20px;
                                text-align:center;
                                width:100%;
                            }
                        }
                    }
                    .right{
                        text-align:center;
                        img{
                            width:180px;
                            height:auto;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:425px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:80vh;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:80px;
                        left:5%;
                        right:5%;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    display:block;
                    &:after{
                        content:'';
                        display:block;
                        clear:both;
                    }
                    .hold{
                        width:167px;
                        margin:0;
                        display:inline-block;
                        &:nth-child(odd){
                            margin-right:5px;
                        }
                        &:last-child{
                            width:100%;
                        }
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align:center;
                        img{width:auto!important;height:100%!important;margin:auto;display:block}
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height: initial !important;
            background-position: 0px 0px;
            background-size: auto 100%;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    display:block;
                    .item-team{
                        &:nth-child(odd){}
                        width:100%;
                        .avatar{
                            width:150px;
                            height:150;
                            .image{
                                width:100%;
                                height:100%;
                            }
                            .linkedin{
                                right:0px;
                                bottom:0px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        display:block;
                        .item-info{
                            margin:5px;
                            width:100%;
                            &:first-child{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
        footer{
            .container{
                .row{
                    .left{
                        .flex{
                            display:block;
                            .item-foot{
                                margin-bottom:20px;
                                text-align:center;
                                width:100%;
                            }
                        }
                    }
                    .right{
                        text-align:center;
                        img{
                            width:180px;
                            height:auto;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:375px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:80vh;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:40px;
                        left:5%;
                        right:5%;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    .hold{
                        height:150px;
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align:center;
                        img{width:100%!important;height:100%!important;margin:auto;display:block}
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height:500px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:80%;
                        margin:auto;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:250px;
                                img{
                                    
                                }
                            }
                            .linkedin{
                                right:20px;
                                bottom:20px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        .item-info{
                            margin:5px;
                            width:100%;
                            &:first-child{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:360px){
    .main{
        .container{
            .holding{
                .flex{
                    .hold{
                        width:100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:374px){
    .main{
        .container{
            .holding{
                .flex{
                    .hold{
                        width:100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:320px){
    $h1:28px;
    $p-slide:14px;
    $p-bigger:16px;
    $p-normal:13px;
    $p-small:12px;
    .topMenu{display:none;}
    .nav{
        .menu.bg-light{
            .navbar{
                .navbar-toggler{
                    .navbar-toggler-icon{
                        background:url('../img/menu-dark.svg');
                        outline:none;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
            }
        }
        .menu{
            .navbar{
                .navbar-brand{
                    width:120px;
                    background-size:100%;
                    height:30px;
                }
                .navbar-collapse{
                    background:white;
                    padding:20px;
                    width:100%;
                    ul{
                        li{
                            a{
                                color:$gray;
                                font-size:$p-normal;
                                &:hover{
                                    background:$bg-gray;
                                }
                            }
                            .dropdown-menu{
                                border:none;
                            }
                        }
                    }
                }
            }
        }
    }
    .main{
        .carousel{
            padding-top:0px;
            .carousel-inner{
                .carousel-item{
                    height:100vh;
                    img{
                        width:auto!important;
                        height:100%;
                    }
                    .carousel-caption{
                        top:40px;
                        left:5%;
                        right:5%;
                        a.btn-inst{
                            width:200px;
                            margin-top:10px;
                            font-size:$p-normal;
                        }
                        h1{
                            font-size:$h1;
                        }
                        p{
                            font-size:$p-slide;
                        }
                        img{
                            width:150px!important;
                        }
                        a.btn-inst{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        .container{
            .holding{
                margin-top:0px;
                .flex{
                    display:block;
                    .hold{
                        width:45%;
                        display:inline-block;
                        margin:0px;
                        &:last-child(odd){
                            margin-right:22px;
                        }
                        &:last-child{
                            width:100%;
                        }
                    }
                }
            }
            .about{
                margin-bottom:5vh;
                .flex{
                    .image{
                        overflow: hidden;
                        text-align: center;
                        width: 100%;
                        margin-right: 15px;
                        img{
                            width:auto!important;height:100%!important;margin:auto;display:block
                        }
                    }
                    .description{
                        padding:10px;
                        a.btn-inst{
                            width:150px;
                        }
                    }
                }
            }
            .customers{
                #customers-carousel{
                    .carousel-inner{
                        .carousel-item{
                            height:150px;
                            .flex{
                                .item{
                                    a{
                                        img{
                                            width:150px!important;
                                            height:auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team{
            min-height:500px;
            .container{
                h3{
                    margin-top:10px;
                }
                .flex{
                    margin-top:50px;
                    .item-team{
                        width:80%;
                        margin:auto;
                        .avatar{
                            width:100%;
                            .image{
                                width:100%;
                                height:250px;
                                img{
                                    
                                }
                            }
                            .linkedin{
                                right:20px;
                                bottom:20px;
                            }
                        }
                    }
                }
            }
        }
        .contacto{
            .container{
                .contactinfo{
                    .flex{
                        .item-info{
                            margin:5px;
                            width:100%;
                            &:first-child{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
}